extends layout 

block content 

  h1!= title 

  if errors 
    .alert.alert-danger(role='alert')
      p Correct the following errors: 
      ul 
        for error in errors 
          li= error.msg

  form(method='POST' action='')
    p.mb-3 Are you sure you want to delete !{item.displayName || item.name}?

    input#id.form-control(
      type='hidden'
      name='id'
      required
      value=item._id
    )

    include mixins/formElements.pug
    +passwordField()

    .mb-3 
      input.btn.btn-danger(
        type='submit'
        value='Delete'
      )
      | 
      a.btn.btn-outline-secondary(href=item.url) Cancel