extend layout 

block content 
  form(method='POST' action='/')
    .mb-3
      label.form-label(for='name') Name 
      input.form-control(
        id='name'
        name='name'
        type='text'
        value=weapon.name
        required=true
        maxlength=100
      )

    .mb-3
      label.form-label(for='costGp') Cost (gp)
      input.form-control(
        id='costGp'
        name='costGp'
        type='number'
        required=true
        value=weapon.costGp
      )

    .mb-3
      label.form-label(for='class') Weapon class 
      select.form-select(
        id='class'
        name='class'
        required
      )
        option(
          value=''
          disabled
          selected=(weapon.class === undefined)
        )
        -
          const classOptions = ['simple', 'martial', 'non-simple'];
        for selectOption in classOptions 
          option(
            value=selectOption
            selected=(weapon.class === selectOption)
          ) #{selectOption}
    
    .mb-3
      label.form-label(for='distance') Distance 
      select.form-select(
        id='distance'
        name='distance'
        required
      )
        option(
          value=''
          disabled
          selected=(weapon.distance === undefined)
        )
        -
          const distanceOptions = ['melee', 'ranged'];
        for selectOption in distanceOptions 
          option(
            value=selectOption
            selected=(weapon.distance === selectOption)
          ) #{selectOption}
    
    .mb-3
      label.form-label(for='rangeFt') Range (for ranged/thrown weapons only)
      input.form-control(
        id='rangeFt'
        name='rangeFt'
        type='number'
        value=weapon.rangeFt
      )
    
    .mb-3
      label.form-label(for='damageDice') Damage Dice (format: #d#)
      input.form-control(
        id='damageDice'
        name='damageDice'
        type='text'
        pattern="^\d+d\d+$"
        placeholder='e.g. 1d8 or 2d10'
        value=weapon.damageDice
        required
      )
    
    .mb-3
      label.form-label(for='damageType') Damage type
      select.form-select(
        id='damageType'
        name='damageType'
        required
      )
        option(
          value=''
          disabled
          selected=(weapon.damageType === undefined)
        )
        -
          const damageTypeOptions = ['bludgeoning', 'piercing', 'slashing', 'none'];
        for selectOption in damageTypeOptions 
          option(
            value=selectOption
            selected=(weapon.damageType === selectOption)
          ) #{selectOption}
    
    .mb-3
      label.form-label(for=weightLb) Weight (lb)
      input.form-control(
        id='weightLb'
        name='weightLb'
        type='number'
        required
        value=weapon.weightLb
      )

    fieldset.mb-3
      legend Weapon Properties 
      each prop in weapon.properties
        div.form-check
          input.form-check-input(
            name='properties'
            id=`prop${prop._id}`
            type='checkbox'
            checked=prop.checked
          )
          label.form-check-label(for=`prop${prop._id}`) #{prop.name}

    .mb-3
      label.form-label(for='special') Special rules 
      textarea.form-control(
        id='special'
        name='special'
      )
    
    .mb-3
      input.btn.btn-primary(
        type='submit'
      )